header{
    padding: 15px 0;
  }
  .Head{
    align-items: center;
    position: relative;
    padding-right: 35px;
  }
  .Buttons{
    gap: 15px;
    margin-left: 10px;
    display: flex;
  }
  .Cart_ic{
    width: 34px;
    height: 34px;
    display: block;
    background: url(../../img/android-chrome-192x192.png) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
  }
  .Cart_ic span{
    position: absolute;
    line-height: 15px;
    width: 15px;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    display: block;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
  }